* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    background-color: #7d35db;
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}

name {
    color: pink;
    font-size: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
}

name img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 15px 30px;
}

nav {
    justify-content: space-between;
    width: 35%;
    padding-right: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: pink;
    padding: 20px;
}

nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: pink;
    font-size: 20px;
}

main {
    margin: 0px;
    padding: 0px;
    background-color: pink;
}

#about {
    display:flex;
    align-items: center;
    padding: 20px;
}

#about img {
    border-radius: 75%;
    padding: 25px;
    width: 200px;
    height: 150px;
}

footer {
    background-color: #7d35db;
    color: pink;
    text-align: center;
    width: 100%;
    height: 60px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}